.create-acc-select 
{
    appearance: none;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #adb5bd;
    background-color: white;
}

.create-acc-select:after
{
  position: absolute;
  content: "";
  top: 366px;
  right: 70px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #8898aa transparent transparent transparent;
}

.nav-tab-margin
{
    margin-bottom: 0.5em;
}

.branch-filter
{
    appearance: none;
    border-radius: 2em;
    width: 200px;
    float: right;
}

.branch-filter:after{
  position: absolute;
  content: "";
  top: 21px;
  right: 35px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #8898aa transparent transparent transparent;
}

.sortbtn
{
    background: none;
    border: none;
    width: 15px;
    height: 20px;
}

.sortbtn:active
{
    outline: none;
}

.sort-icon-img
{
    width: 15px;
    height: 15px;
}

th
{
    cursor: pointer;
}

.modal-div-input
{
    border-radius: 2em;
    border: 1px solid #ced4da;
    box-shadow: none;
}
